<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster|Montserrat" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
	<link rel="stylesheet" type="text/css" href="C:\Users\sarath\Documents\Python\project\Xmoji\static\css\home.css">
</head>
<body>
	<header>
		<nav>
			<h1>Xmoji</h1>
			<ul id="navli">
				<li><a class="homeblack" href="/">HOME</a></li>
				<li><a class="homered" href="/aboutus">ABOUT US</a></li>
				<li><a class="homeblack" href="/userlogin">LOG IN</a></li>
				<li><a class="homeblack" href="/register">REGISTER</a></li>
			</ul>
		</nav>
	</header>
	<div class="divider"></div>

	<p style="font-family: Montserrat ; text-align: center; font-size: 40px">Group Members</p>

	<div style="float: left; width: 20%">

    	<p style="text-align: center;"><img src="https://avatars3.githubusercontent.com/u/62900057?s=400&u=64f82dac348208af0e0abba1d22f51d533774864&v=4" alt="sarath" style="width:250px"></p>
    	<h2 style="text-align: center; font-family:Montserrat ">Sarath</h2>

	</div>

	<div style="float: left; width: 20%">

    	<p style="text-align: center;"><img src="https://avatars0.githubusercontent.com/u/58515620?s=400&u=72c36313614c7848e59185fa749a0020d2abfd00&v=4" alt="yaswanth" style="width:250px"></p>
    	<h2 style="text-align: center; font-family:Montserrat ">Yaswanth</h2>

	</div>

	<div style="float: left; width: 20%">

		<p style="text-align: center;"><img src="https://avatars3.githubusercontent.com/u/51162776?s=400&u=64b942a2f15452d7f090637aa91c74608da1da10&v=4" alt="uday" style="width:250px"></p>
		<h2 style="text-align: center; font-family:Montserrat ">Uday</h2>



	</div>

	<div style="float: left; width: 20%">

		<p style="text-align: center;"><img src="https://raw.githubusercontent.com/YaswanthKota/emojifypics/main/Capture.JPG" alt="harsha" style="width:250px"></p>
		<h2 style="text-align: center; font-family:Montserrat ">Harsha</h2>


	</div>


</body>
</html>
