<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
<title>Login Form</title>
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/lastyle.css') }}">
<link rel="stylesheet" type="text/css" href="C:\Users\sarath\Documents\Python\project\Xmoji\static\css\lastyle.css">
</head>
<body>
  <header>
		<nav>
      <h1>Xmoji</h1>
			<ul id="navli">
				<li><a class="homeblack" href="/">HOME</a></li>
				<li><a class="homeblack" href="/userlogin">USER LOGIN</a></li>
        <li><a class="homered" href="/adminlogin">ADMIN LOGIN</a></li>
			</ul>
		</nav>
	</header>
<div class="divider"></div>
    <div class="loginbox">
    <img src="https://f0.pngfuel.com/png/980/304/man-profile-illustration-computer-icons-user-profile-avatar-png-clip-art.png" class="avatar" alt="avtar">
        <br><h1>Login Here</h1><br>
        <form action="{{ url_for('adminlogin')}}"  method="post">
            <p>Username</p>
            <input type="text" name="username" placeholder="Enter Username"><br><br>
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password"><br><br>
            <input type="submit" name="login" value="Login">
        </form>
        <h1> {{info}} </h1>
    </div>

    <script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-white";
}
</script>


</body>
</html>
