<!DOCTYPE html>

<html>
<head>
	<title>Xmoji</title>
	<link href="https://fonts.googleapis.com/css?family=Lobster|Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
	<link rel="stylesheet" type="text/css" href="C:\Users\sarath\Documents\Python\project\Xmoji\static\css\home.css">
</head>
<body>
	<header>
		<nav>
			<h1>Xmoji</h1>
			<ul id="navli">
				<li><a class="homered" href="/">HOME</a></li>
				<li><a class="homeblack" href="/aboutus">ABOUT US</a></li>
				<li><a class="homeblack" href="/userlogin">LOG IN</a></li>
				<li><a class="homeblack" href="/register">REGISTER</a></li>
			</ul>
		</nav>
	</header>

	<div class="divider"></div>
	<div id="divimg">

	</div>


	<img src="https://cdn.vox-cdn.com/thumbor/gOwgl6gwIUqpPtBqMPRwSsO5b10=/0x0:1200x700/920x613/filters:focal(504x254:696x446):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/58503673/Untitled.0.jpg" style="float: left; height: 550px; width: 700px; margin-top: 35px;">


	<div style="margin-top: 125px">

		<h1 style="font-family: 'Comic Sans MS', cursive, sans-serif; font-weight: 200; font-size: 50px; margin-top: 100px; text-align: center;">Welcome to Xmoji </h1><br>
		<p style="font-family: 'Montserrat', sans-serif; font-size: 30px ; text-align: center;">Your Personal Emoji <br>	Project by B6<br><br>Sarath<br>Yaswanth<br>Uday<br>Harsha</p>
	</div>



</body>
</html>
