<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.css">
    <link href="/static/css/style.css" rel="stylesheet">
<!-- about-->
    <title>About Us</title>

</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top" style="background-color: black;">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                    <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand mr-auto" href="/">XMOJI</a>
            <div class="collapse navbar-collapse" id="Navbar" >
                <ul class="navbar-nav" style="margin-left: 60%;">
                    <li class="nav-item "><a class="nav-link" href="/"><span class="fa fa-home fa-lg"></span> Home</a></li>
                    &nbsp;
                    <li class="nav-item active"><a class="nav-link" href="#"><span class="fa fa-info fa-lg"></span> About</a></li>

                    <li class="nav-item"><a class="nav-link" href="./userlogin"><span class="fa fa-address-card fa-lg"></span> user login</a></li>
                    &nbsp;
                    <li class="nav-item"><a class="nav-link" href="./register"><span class="fa fa-address-card fa-lg"></span> register</a></li>
                </ul>

            </div>
      
        </div>

    </nav>
    <div style="background-color: rgb(247, 8, 8);">.</div>

    <header class="jumbotron">
        <div class="container">
            <div class="row row-header">
                <div class="col-12 col-sm-6">
                    <h1>XMOJI</h1>
                    <p>The main idea is to capture the human face through live web proctoring and recognize the facial expressions stimulated in the face and describe the age, gender and create and display an emoji according to the expression!</p>
                </div>

              
            </div>
        </div>
    </header>

    <div class="container">
   <br>
        <div class="row row-header">
            <div class="col-12 col-sm-6">
                <h2>Motto of the Project</h2>
                <p>The main goal of our project is that emojis and avatars are ways to indicate non-verbal cues/part of communication. These have become an essential part of online chatting, product review, brand emotion, and many more. It also leads to increasing data-science research dedicated to emoji driven storytelling. 
                </p>
            </div>
            <div class="col-12 col-sm-6">
                <div class="card">
                    <h3 class="card-header bg-primary text-white">Batch 14 MINI Project</h3>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-6">Project On</dt>
                            <dd class="col-6">Deep Learning</dd>
                            <dt class="col-6">Name of Project</dt>
                            <dd class="col-6">Xmoji</dd>
                            <dt class="col-6">Guide Name</dt>
                            <dd class="col-6">Dr.Padmaja</dd>
                            <dt class="col-6">Team Members</dt>
                            <dd class="col-6">4</dd>
                        </dl>
                    </div>
                </div>
            </div>
          
        </div>

    </div>
    <div class="container">
                <h2>Team Members</h2>
                <div class="row row-content">
                    <div class="card" style="width: 16rem;">
                        <img class="card-img-top" src="https://avatars3.githubusercontent.com/u/62900057?s=400&u=64f82dac348208af0e0abba1d22f51d533774864&v=4" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Sarath Majji</h5>
                          <p class="card-text">121710306049</p>
                          <a href="#" class="btn "><span class="fa fa-github"></span></a>
                          <a href="#" class="btn"><span class="fa fa-linkedin"></span></a>
                                                </div>
                      </div>

                        &emsp;
                      <div class="card" style="width: 16rem;">
                        <img class="card-img-top" src="https://avatars0.githubusercontent.com/u/58515620?s=400&u=72c36313614c7848e59185fa749a0020d2abfd00&v=4" alt="yaswanth">
                        <div class="card-body">
                          <h5 class="card-title">Yaswanth Kota</h5>
                          <p class="card-text">121710306029</p>
                          <a href="#" class="btn"><span class="fa fa-github"></span></a>
                          <a href="#" class="btn"><span class="fa fa-linkedin"></span></a>                
                                </div>
                      </div>
                      &emsp;

                      <div class="card" style="width: 16rem;">
                        <img class="card-img-top" src="https://raw.githubusercontent.com/YaswanthKota/emojifypics/main/udayoriginal.jpeg" alt="uday">
                        <div class="card-body">
                          <h5 class="card-title">Uday Sai</h5>
                          <p class="card-text">121710306020</p>
                          <a href="#" class="btn "><span class="fa fa-github"></span></a>
                          <a href="#" class="btn "><span class="fa fa-linkedin"></span></a>                   
                             </div>
                      </div>
                      &emsp;


                      <div class="card" style="width: 16rem;">
                        <img class="card-img-top" src="https://raw.githubusercontent.com/YaswanthKota/emojifypics/main/Capture.JPG" alt="harsha">
                        <div class="card-body">
                          <h5 class="card-title">Harsha</h5>
                          <p class="card-text">121710306051</p>
                          <a href="#" class="btn"><span class="fa fa-github"></span></a>
                          <a href="#" class="btn"><span class="fa fa-linkedin"></span></a>

                        </div>
                      </div>
             </div>

            <div class="row row-content">
                <div class="col-12 col-sm-9">
                    <h2>Facts &amp; Figures</h2>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Data Sets Used</th>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <th>Started On </th>
                                    <td>Aug 15 2020</td>
                                </tr>
                                <tr>
                                    <th>Completed On </th>
                                    <td>Dec 15 2020</td>
                                </tr>
                                <tr>
                                    <th>Progress </th>
                                    <td>100%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                 <div class="col-12 col-sm-3">
                </div>
           </div>


       </div>

    </div>

    <footer class="footer ">
           <div class="row justify-content-center">             
                <div class="col-auto">
                    <p>© Copyright 2020 Xmoji</p>
                </div>
           </div>
    </footer>
    
    <script src="/static/js/jquery/dist/jquery.slim.min.js"></script>
    <script src="/static/js/popper.js/dist/umd/popper.min.js"></script>
    <script src="/static/css/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>
