<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  <title>ADMIN | Delete User </title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/lustyle.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/lastyle.css') }}">
  <link rel="stylesheet" href="/static/css/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.css">
  </head>

<body class="body">
  <header>
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top" style="background-color: black;">
			<div class="container">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
						<span class="navbar-toggler-icon"></span>
				</button>
				<a class="navbar-brand mr-auto" href="/">XMOJI</a>
				<div class="collapse navbar-collapse" id="Navbar" >
					<ul class="navbar-nav" style="margin-left: 50%;">
						<li class="nav-item "><a class="nav-link" href="/adminview"><span class="fa fa-home fa-lg"></span>Dashboard</a></li>
            <li class="nav-item"><a class="nav-link" href="/addusers"><span class="fa fa-address-card fa-lg"></span>Add User</a></li>
            <li class="nav-item active"><a class="nav-link" href="./deletinguser"><span class="fa fa-address-card fa-lg"></span>Delete User</a></li>
            <li class="nav-item"><a class="nav-link" href="./adminlogin"><span class="fa fa-sign-out fa-lg"></span>Logout</a></li>
						</ul>
          </div>
			</div>
	
		</nav>
  </header>
  <div style="background-color: rgb(247, 8, 8);">.</div>
  <img src="https://raw.githubusercontent.com/YaswanthKota/emojifypics/main/delete.png" width="55%">
  <div class="loginbox" style="top: 10%; height: 70%;">
    <img src="https://img.favpng.com/17/1/20/user-profile-computer-icons-login-png-favpng-w4PDSTJJhQAyy1K6Dbdyjx4XW.jpg" class="avatar" alt="avtar">
      <h1>Delete User</h1>
          <form action="{{ url_for('deleteuser') }}" method="post" >
            <div class="msg">{{ msg }}</div></br></br>
              <input id="username" name="username" type="text" placeholder="Enter User Username" class="textbox"/></br></br></br>
              <input id="email" name="email" type="text" placeholder="Enter User Email ID" class="textbox"/></br></br></br></br>
              <input type="submit" class="btn" value="Delete User"></br>
              <h1>{{info}}</h1>
          </form>
    </div>
</body>
</html>
