<!DOCTYPE html>

<html>
<head>
	<title>Xmoji</title>
	<link href="https://fonts.googleapis.com/css?family=Lobster|Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
	<header>
		<nav class="navbar navbar-dark navbar-expand-sm fixed-top" style="background-color: black;">
			<div class="divider"></div>

			<div class="container">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
						<span class="navbar-toggler-icon"></span>
				</button>
				<a class="navbar-brand mr-auto" href="/">XMOJI</a>
				<div class="collapse navbar-collapse" id="Navbar" >
					<ul class="navbar-nav" style="margin-left: 60%;">
						<li class="nav-item active"><a class="nav-link" href="/"><span class="fa fa-home fa-lg"></span> Home</a></li>
						&nbsp;
						<li class="nav-item"><a class="nav-link" href="./aboutus"><span class="fa fa-info fa-lg"></span> About</a></li>
	
						<li class="nav-item"><a class="nav-link" href="./userlogin"><span class="fa fa-address-card fa-lg"></span> login</a></li>
						&nbsp;
						<li class="nav-item"><a class="nav-link" href="./register"><span class="fa fa-address-card fa-lg"></span> register</a></li>
					</ul>
	
				</div>
		  
			</div>
	
		</nav>

	</header>
	<div style="background-color: rgb(247, 8, 8); height: 0.25%;">.</div>

	<div id="divimg">

	</div>
<div class="container">

	<img src="https://cdn.vox-cdn.com/thumbor/gOwgl6gwIUqpPtBqMPRwSsO5b10=/0x0:1200x700/920x613/filters:focal(504x254:696x446):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/58503673/Untitled.0.jpg" style="float: left; height: 550px; width: 700px; margin-top: 35px;">


	<div style="margin-top: 125px">

		<h1 style="font-family: 'Comic Sans MS', cursive, sans-serif; font-weight: 200; font-size: 50px; margin-top: 100px; text-align: center;">Welcome to Xmoji </h1><br>
		<p style="font-family: 'Montserrat', sans-serif; font-size: 30px ; text-align: center;">Your Personal Emoji <br>	Project by B6<br><br>Sarath<br>Yaswanth<br>Uday<br>Harsha</p>
	</div>
</div>


</body>
</html>
