<html>
  <head>
    <title>Xmoji</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select.css') }}">
    <link rel="stylesheet" type="text/css" href="C:\Users\sarath\Documents\Python\project\Emojify\static\css\select.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lastyle.css') }}">
<link rel="stylesheet" href="/static/css/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.css">
    <style>
	#bg {
  	display: inline-block;
  	width: 575px;
    height: 500px;
    margin-left :12px;
    border: 3px solid black;
	}
  #emj {
  	display: inline-block;
  	width: 475px;
    height: 500px;
    border: 3px solid black;
    /* margin-left: 200px; */
	}
  #bg2 {
  	display: inline-block;
  	width: 430px;
    height: 500px;
    border: 3px solid black;
    /* margin-left :125px; */
	}
    </style>
    </head>
  <body>
    <header>
  		<nav class="navbar navbar-dark navbar-expand-sm fixed-top" style="background-color: black;">
        <div class="divider"></div>
  
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
              <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand mr-auto" href="/">XMOJI</a>
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
  
          <div class="collapse navbar-collapse" id="Navbar" >
            <ul class="navbar-nav" style="margin-left: 60%;">
              <li class="nav-item"><a class="nav-link" href="/selection"><span class="fa fa-home fa-lg"></span> Selection</a></li>
              &nbsp;
              <li><a class="nav-link active" href="/selection"><span class="fa fa-camera"></span>Live Web Cam</a></li>
  
              <li><a class="nav-link" href="/userlogin"><span class="fa fa-sign-out fa-lg"></span>LogOut</a></li>
  
                    </ul>
    
          </div>
        
        </div>
    
      </nav>
    </header>
    <div class="divider1" style="background-color: rgb(247, 8, 8); height: 1.5%;"> </div>
    <br>
    <br>
    <br>
   

    <h1 align="center">Welcome to Xmoji  {{ user }}  !</h1>
    <!-- <div id="container">
    	<video autoplay="true" id="bg">

    	</video>
    </div> -->
    <img id="bg"  src="{{ url_for('video_feed') }}">
    <img id="bg2"  src="{{ url_for('video_cartoon') }}">
    <img id="emj"  src="{{ url_for('video_emj')  }}">
  </body>
</html>
